*,
*::after,
*::before {
  box-sizing: 960px;
}

body {
  font-family: serif;
  font-size: 12px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.topnav {
  float: left;
  color: #ffffff;
  padding: 1rem 4rem 2rem 1rem;
  height: 70px;
}

.main-container {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.product-info div {
  margin: 1rem 0;
}

.first-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  column-gap: 0.5rem;
}

.small-images {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-around;
}

.main-container img {
  width: 100%;
}

.second-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
}

.brand-info {
  font-size: 1.75rem;
}

.model-info {
  font-size: 1.5rem;
  font-weight: bold;
}

.price-info {
  color: #bc222b;
  font-family: Georgia;
  font-size: 1.5rem;
  font-weight: bold;
}

.discount-code {
  font-size: 1rem;
}
